/* Mobile menu hidden by default */
#mobile-menu {
    display: none;
}

#comment-container {
    margin-top: 20px;
    overflow-y: auto;
}

textarea:focus-visible {
    outline-offset: 0px;
    outline: none;
}

#round-image {
    width: 20px;
    height: 20px;
  }

@media (max-width: 768px) {
    #mobile-menu {
      display: none;
    }

    #mobile-menu.open {
        display: block;
    }
    
}